.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* the following three are for the character choice form */
.character-form {
  position: absolute;
  top: 25%;
  left: 40%;
  margin-top: -50px;
  margin-left: -50px;
  width: 400px;
  height: 280px;
  background-color: white;
  opacity: 0.7;
  border-radius: 5px;
  border: #000 solid 2px;
}

.character-questions {
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.character-start-button {
  padding: 5px 15px 5px 15px;
  margin-left: 150px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  border: none;
  color: black;
  border: 2px solid #000;
  border-radius: 12px;
}

.name {
  margin: auto;
  display: block;
  width: 75%;
}
/* everything as follows is for the round1 page*/

.round1Image {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  height: 93.8%;
  width: 100%;
  position: fixed;
  justify-content: center;
}

form {
  position: absolute;
  top: 25%;
  left: 45%;
  margin-top: -50px;
  margin-left: -50px;
  width: 400px;
  height: 280px;
  background-color: white;
  opacity: 0.7;
  border-radius: 5px;
}

.winPageImage {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  height: 93.8%;
  width: 100%;
  position: fixed;
  justify-content: center;
}

/* Background  */

body {
  background-color: #cccccc;
}

/* Button */
.round1btns {
  border: none;
  color: black;
  border: 2px solid #555555;
  border-radius: 12px;
}

.txt:link {
  text-decoration: none;
}

.txt:hover {
  color: #000;
}

.bonusImgsLeftRoom {
  width: 250px;
  height: 250px;
}

/* Monster Image*/
.monsterimg {
  position: absolute;
  top: 25%;
  left: 30%;
  width: 600px;
  height: 650px;
}

.finalMonsterImg {
  position: absolute;
  top: 23%;
  left: 26%;
  width: 900px;
  height: 720px;
}
.minotaurImg {
  position: absolute;
  top: 25%;
  left: 8%;
  width: 70%;
  height: 70%;
}

.info {
  text-align: center;
  font-size: 22px;
color: white
}

/* Buttons */
.btn-monster {
  margin-top: 10px;
  border: none;
  border-radius: 12px;
  transition: transform 0.1s;
}
.btn-monster:hover,
.choose:hover {
  transform: scale(1.1);
}

.attack {
  margin-right: 10px;
  border: 2px solid #098037;
}
.block {
  border: 2px solid #e70c0c;
}
.useStaff {
  margin-left: 10px;
  border: 2px solid #414643;
}

/* Bonus */
p {
  text-align: center;
  font-size: 25px;
}

.items {
  margin-left: 45%;
  width: 150px;
  height: 150px;
}

.choose {
  border: none;
  border-radius: 12px;
  border: 2px solid #414643;
  text-decoration: none;
  transition: transform 0.1s;
}

/* Responsive */
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS */
@media screen and (max-width: 980px) {
  .character-form {
    position: absolute;
    top: 30%;
    left: 30%;
    margin-top: -50px;
    margin-left: -50px;
    width: 400px;
    height: 280px;
    background-color: white;
    opacity: 0.7;
    border-radius: 5px;
    border: #000 solid 2px;
  }

  form {
    position: absolute;
    top: 10%;
    left: 35%;
    margin-top: -50px;
    margin-left: -50px;
    width: 400px;
    height: 250px;
    background-color: white;
    opacity: 0.7;
    border-radius: 5px;
  }

   .monsterimg {
    position: absolute;
    top: 33%;
    left: 33%;
    width: 370px;
    height: 370px;
  }

   .minotaurImg {
    position: absolute;
    top: 20%;
    left: 25%;
    width: 70%;
    height: 70%;
  }

   .finalMonsterImg {
    position: absolute;
    top: 30%;
    left: 29%;
    width: 450px;
    height: 450px;
  }
}

/* MEDIA QUERY FOR TABLETS */

@media screen and (max-width: 830px) {
  form {
    position: absolute;
    top: 35%;
    left: 30%;
    margin-top: -50px;
    margin-left: -50px;
    width: 400px;
    height: 265px;
    background-color: white;
    opacity: 0.7;
    border-radius: 5px;
  }

  .info {
    margin-left: 10px;
    margin-top: 100px;
    text-align: left;
    font-size: 20px;
  }

  .monsterimg {
    position: absolute;
    top: 20%;
    left: 33%;
    width: 350px;
    height: 350px;
  }

  .finalMonsterImg {
    position: absolute;
    top:20%;
    left: 33%;
    width: 500px;
    height: 500px;
  }

  .minotaurImg {
    position: absolute;
    top: 20%;
    left: 25%;
    width: 70%;
    height: 70%;
  }
}

@media screen and (max-width: 680px) {
  .character-form {
  position: absolute;
  top: 25%;
  left: 23%;
  margin-top: -50px;
  margin-left: -50px;
  width: 400px;
  height: 280px;
  background-color: white;
  opacity: 0.7;
  border-radius: 5px;
  border: #000 solid 2px;
}

  form {
    position: absolute;
    top: 20%;
    left: 25%;
    margin-top: -50px;
    margin-left: -50px;
    width: 400px;
    height: 260px;
    background-color: white;
    opacity: 0.7;
    border-radius: 5px;
  }

  .monsterimg {
    position:relative;
    top: 25%;
    left: 30%;
    width: 300px;
    height: 350px;
  }

  .finalMonsterImg {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 350px;
    height: 350px;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES */
@media screen and (max-width: 480px) {
  .character-form {
  position: absolute;
  top: 25%;
  left: 14%;
  margin-top: -50px;
  margin-left: -50px;
  width: 400px;
  height: 280px;
  background-color: white;
  opacity: 0.7;
  border-radius: 5px;
  border: #000 solid 2px;
}

  form {
    position: absolute;
    top: 15%;
    left: 25%;
    margin-top: -50px;
    margin-left: -50px;
    width: 300px;
    height: 255px;
    background-color: white;
    opacity: 0.7;
    border-radius: 5px;
  }

  .info {
    margin-top: 10%;
    text-align: center;
    font-size: 20px;
  }

  .monsterimg {
    position: absolute;
    top: 35%;
    left: 15%;
    width: 300px;
    height: 350px;
  }

  .finalMonsterImg {
    position: absolute;
    top: 35%;
    left: 15%;
    width: 350px;
    height: 350px;
  }

  .minotaurImg {
    position: absolute;
    top: 30%;
    left: 5px;
    width: 100%;
    height: 70%;
  }
}
.end{
  background-color: black;
  width:100%;
  height: 100%;
}
.charStats{
  align-self: left;
  text-align: left;

}