.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* the following three are for the character choice form */
.character-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  border: solid;
}

.character-questions {
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.character-start-button {
  width: fit-content;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

/* everything as follows is for the round1 page*/

.round1Image {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  height: 93.8%;
  width: 100%;
  position: fixed;
  justify-content: center;
}

.round1form {
  position: absolute;
  top: 25%;
  left: 45%;
  margin-top: -50px;
  margin-left: -50px;
  width: 400px;
  height: 242px;
  background-color: white;
  opacity: 0.7;
  border-radius: 5px;
}

/* Background  */

body {
  background-color: #cccccc;
}

/* Button */
.round1btns {
  border: none;
  color: black;
  border: 2px solid #555555;
  border-radius: 12px;
}

.txt:link {
  text-decoration: none;
}

.txt:hover {
  color: #000;
}

/* Responsive */
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS */
@media screen and (max-width: 980px) {
  .round1form {
    position: absolute;
    top: 10%;
    left: 35%;
    margin-top: -50px;
    margin-left: -50px;
    width: 400px;
    height: 250px;
    background-color: white;
    opacity: 0.7;
    border-radius: 5px;
  }
}

/* MEDIA QUERY FOR TABLETS */
@media screen and (max-width: 680px) {
  .round1form {
    position: absolute;
    top: 10%;
    left: 25%;
    margin-top: -50px;
    margin-left: -50px;
    width: 400px;
    height: 250px;
    background-color: white;
    opacity: 0.7;
    border-radius: 5px;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES */
@media screen and (max-width: 480px) {
  .round1form {
    position: absolute;
    top: 10%;
    left: 25%;
    margin-top: -50px;
    margin-left: -50px;
    width: 300px;
    height: 225px;
    background-color: white;
    opacity: 0.7;
    border-radius: 5px;
  }
}
